{{! Custom Google Docstring Template }}
!!! summary "Summary"
    {{summaryPlaceholder}}

???+ info "Details"
    {{extendedSummaryPlaceholder}}{{descriptionPlaceholder}}
{{#parametersExist}}

Args:
{{#args}}
    {{var}} ({{typePlaceholder}}):
        {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
    {{var}} ({{typePlaceholder}}, optional):
        {{descriptionPlaceholder}}.<br>  
        Defaults to `{{&default}}`.
{{/kwargs}}
{{/parametersExist}}
{{#exceptionsExist}}

Raises:
{{#exceptions}}
    {{type}}: {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}
{{#returnsExist}}

Returns:
{{#returns}}
    ({{typePlaceholder}}):
        {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

Yields:
{{#yields}}
    ({{typePlaceholder}}):
        {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}

!!! success "Credit"
    - All credit goes to the [`{{descriptionPlaceholder}}`]({{descriptionPlaceholder}}) library.

!!! example "Examples"
    {{descriptionPlaceholder}}
    ```python linenums="1" title="Python"
    >>> {{descriptionPlaceholder}}
    ```

??? question "References"
    - {{descriptionPlaceholder}}

??? tip "See Also"
    - {{descriptionPlaceholder}}
