{{! Google Docstring Template }}
!!! Summary "Summary"
    {{summaryPlaceholder}}

???+ Info "Details"
    {{descriptionPlaceholder}}
{{#parametersExist}}

Args:
{{#args}}
    {{var}} ({{typePlaceholder}}):
        {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
    {{var}} ({{typePlaceholder}}):
        {{descriptionPlaceholder}}.  
        Defaults to `{{&default}}`.
{{/kwargs}}
{{/parametersExist}}
{{#exceptionsExist}}

Raises:
{{#exceptions}}
    {{type}}:
        {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}
{{#returnsExist}}

Returns:
{{#returns}}
    {{typePlaceholder}}:
        {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

Yields:
{{#yields}}
    {{typePlaceholder}}:
        {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}

!!! Example "Examples"
    {{descriptionPlaceholder}}
    ```python linenums="1"
    >>> {{descriptionPlaceholder}}
    ```

!!! Tip "See Also"
    - {{descriptionPlaceholder}}
